.products {
  width: 100%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin: 20px 0;
}

/* ----------Product Item---------- */